In [1]:

for i in range(1,21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [2]:
for i in range(0,9):
    print(i,"+",i+1,"=",i + (i+1))

0 + 1 = 1
1 + 2 = 3
2 + 3 = 5
3 + 4 = 7
4 + 5 = 9
5 + 6 = 11
6 + 7 = 13
7 + 8 = 15
8 + 9 = 17

In [3]:
import pandas as pd

In [4]:
data = pd.read_excel("mol_properties.xlsx")
data.head(5)

,formula,compounds,cas,molar_weigth,tfp_k,Tb(K),Tc(K),Pc(bar),Vc(cm3/mol),zc,...,cp_a4,cpig,cpliq,antoine_a,antoine_b,antoine_c,pvpmin_bar,tmin_k,pvpmax_bar,tmax_k
0,He,helium-3,14762-55-1,3.017,1.01,3.33,3.31,1.14,72.5,0.300,...,0.000000e+00,20.79,NaN,1.39750,5.5940,273.84,0.02,1.12,2.0,4.41
1,He,helium,7440-59-7,4.003,2.15,4.30,5.19,2.27,57.3,0.301,...,0.000000e+00,20.79,NaN,1.68360,8.1548,273.71,0.02,1.85,2.0,5.34
2,H2,hydrogen,1333-74-0,2.016,13.83,20.27,32.98,12.93,64.2,0.303,...,-2.130000e-12,28.84,NaN,2.93954,66.7954,275.65,0.05,10.25,2.0,22.82
3,H2,"hydrogen, normal",800000-51-5,2.016,13.56,20.38,33.25,12.97,65.0,0.305,...,NaN,28.83,NaN,2.94928,67.5078,275.70,0.05,13.33,2.0,22.94
4,DH,deuterium hydride,13983-20-5,3.022,16.59,22.13,35.90,14.80,62.7,0.311,...,5.800000e-12,29.20,NaN,3.14102,77.1349,275.62,0.08,15.73,2.0,24.69

In [5]:
form = data.formula.values
M = data.molar_weigth.values
M;

In [6]:
M_arr = []
for i in M:
    if i > 15 and i < 40:
        M_arr.append(i)

In [23]:
import numpy as np
M_arr1 = np.array(M_arr)
M_arr1;
ind = [np.where(M == i)[0][0] for i in M_arr1]
form[ind]
pd.DataFrame({"Compounds":form[ind],"M":M_arr1})

   Compounds       M
0         Ne  20.180
1         N2  28.014
2         CO  28.010
3         F2  37.997
4         Ar  39.948
5         O2  31.999
6        CH4  16.043
7         NO  30.006
8       C2H4  28.054
9       C2H6  30.070
10       H3P  33.998
11       ClH  36.461
12      C2H2  26.038
13       ClD  37.467
14      CH3F  34.033
15       H2S  34.082
16       H3N  17.031
17       D3N  20.049
18      CH5N  31.057
19        FH  20.006
20      CH4O  32.042
21       H2O  18.015
22       D2O  20.028
23      H4N2  32.045
24         S  32.066
25       D2S  36.094
26       D3P  37.016
27       OT2  22.032

In [10]:
# i = 0
# while i < len(a):
#     print(a[i])
#     i = i + 1

1
2
3
4
5
6
7
8
9
10

In [11]:
pass_user = input("Password")

Password eddy

In [17]:
pass_2 = input("Password")
ii = 0
while pass_2 != pass_user:
    print("Incorrect password,try again")
    ii = ii + 1
    if ii == 3:
        print("Your account has been locked")
        break
    else:
        pass_2 = input("Password")

Password w

Incorrect password,try again

Password e

Incorrect password,try again

Password e

Incorrect password,try again
Your account has been locked